<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signin-form">
    <form [formGroup]="changePasswordForm">
      <ion-input label="Old password" labelPlacement="stacked" fill="solid" formControlName="currentPassword"
        name="oldPassword" type="password" spellcheck="false" autocapitalize="off" errorText="Please enter current password" required>
      </ion-input>

      <ion-input label="New password" labelPlacement="stacked" fill="solid" formControlName="newPassword"
        name="newPassword" type="password" spellcheck="false" autocapitalize="off"
        errorText="Please enter a new password" required>
      </ion-input>

      <div
        *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('pattern')"
        class="errorMsg inputDiv">
        Please ensure password contains: <br />
        at least 8 characters, <br />
        one special character, <br />
        one numeric character, <br />
        one Uppercase and one Lowercase character
      </div>

      <ion-input label="Confirm password" labelPlacement="stacked" fill="solid" formControlName="confirmPassword"
        name="newPassword" type="password" spellcheck="false" autocapitalize="off" errorText="Please confirm password"
        required>
      </ion-input>

      <ion-row>
        <ion-col>
          <!-- <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button> -->
          <ion-button (click)="updateUser()" type="submit" expand="block" [disabled]="!changePasswordForm.valid">Update
            Password</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>