<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signin-form">
    <form [formGroup]="resetForm">
      <ion-input label="Email address" labelPlacement="stacked" fill="solid" formControlName="email" name="Email"
        type="text" spellcheck="false" autocapitalize="off" errorText="Email is required" required>
      </ion-input>

      <ion-row>
        <ion-col>
          <!-- <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button> -->
          <ion-button (click)="sendResetPasswordLink()" type="submit" expand="block" [disabled]="!resetForm.valid">Reset
            Password</ion-button>
        </ion-col>
        <ion-col *ngIf="emailSent">
          <ion-button (click)="sendResetPasswordLink()" color="light" expand="block">Resend Email</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>